<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Halaman quis Admin 
    </title>
    <link rel="stylesheet" href="/Admin_Form_Layout.css">

</head>
<body>

    <!-- Header section -->
    <header class="Admin_Form_Header">
        <h4>
            Buat Pertanyaan
        </h4>
        <h4>
            Daftar jawaban
        </h4>
        <h4>
            Akun Pengguna
        </h4>
    </header>
    <!-- End Header section -->

    <!--  -->
    <div class="Form_Title_Container">
        <input type="text" placeholder="Quis tanpa judul" class="Create_Title_Quis">
        <input type="text" placeholder="Deskripsi Quis"  class="Create_Description_Quis">
        <!-- <div class="Create_Form_Question_Title">
        </div> -->
    </div>

</body>
</html>