<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Generate admin random code
    </title>
</head>
<body>
    
<h1>
    Masukkan code untuk membuar pertanyaan
</h1>

</body>
</html>