<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8" content="origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Halaman login
    </title>
    <link rel="stylesheet" href="/Login_Layout.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" defer></script>

    <% if ( typeof scripts !== "undefined") { %>
        <% scripts.forEach(function(script) { %>
        <script src="/LoginAdmin.js" type="module" defer></script>
        <% }) %>
    <% } %>
</head>
<body>
    
    <!-- Random code container -->
    <div class="Random-Code-Container" id="Display_Admin_Random_Code">
        <div class="Random-Code" id="UserRandomCode">
            <P class="ShowRandomCode" id="ShowRandomCode"></P>
        </div>
        <img src="/copy.png" class="Copy_Icon" id="ClickCopyIcon">
    </div>

 <!-- Container untuk membungkus form login -->
<div class="center-Form-Container">
    <div class="Login_Form_Container">
        <form action="/SaveAdminPageForm" method="POST">
        <!-- Input name -->
            <div class="Input-Name">
                <label>Masukkan nama</label>   
                <input type="text" name="UserInputName" id="UserInputNameId" class="Input_Type_Name" required autocomplete="off">
            </div>

            <!-- Input age -->
            <div class="Input-Age">
                <label>Masukkan umur</label>
                <input type="number" name="UserInputAge" id="UserInputAgeId" class="Input_Type_Age" required autocomplete="off">
            </div>
            
            <!-- Select gender -->
            <div class="Input-Gender">  
                <label >Jenis kelamin</label>
                <select name="UserInputGenders" id="UserInputGendersId" class="Select_Type_Gender" required>
                    <option value=""></option>
                    <option value="Perempuan">perempuan</option>
                    <option value="Laki - laki">Laki - laki</option>
                </select>
            </div>

            <!-- Input email -->
            <div class="Input-Email">
                <label >Masukkan email</label>
                <input type="email" name="UserInputEmail" id="UserInputEmailId" class="Input_Type_Email" required autocomplete="off">
            </div> 

              <!-- Select Level -->
              <div class="Input-Level">  
                <label >Level</label>
                <select name="UserInputLevels" id="UserInputLevelsId" class="Select_Level_Type" required placeholder="Level">
                    <option value=""></option>
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>

            <!-- Input code acak -->
            <div class="Input-Code">
                <input type="text" name="UserInputRandomCode" id="UserInputRandomCode" class="Input_Random_Code" required autocomplete="off" placeholder="Masukkan code">
            </div> 

            <!-- Login button -->
            <button class="Login_Button" id="SubmitLoginButton" type="submit">
                Login
            </button>
        </form>
    </div>
</div>
</body>
</html>