body
{
    margin: 0;
    padding: 0;
}

.Login_Form_Container
{   
    margin-top: 10vmax;
    margin-left: 12vmax;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    place-items: center;
    width: 70vw;
    height: 40vh;
    background-color: rgba(120, 89, 100, 1.0);
}