body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(228, 176, 176, .7); */
    background-color: rgba(191, 191, 191, .8);
}

button 
{
    cursor: pointer;
}

/* Random code container section */
.Random-Code-Container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    transform: translate(0,7vh);
}
.Random-Code
{   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(20deg, rgba(120, 89, 100, 1.0), rgba(19,90,141,1));
    z-index: 2;
    color: white;
    width: 15vmax; 
    height: 10vh;
    position: absolute;
    box-shadow: 11px 11px 5px 0px rgba(255,241,241,0.27);
    -webkit-box-shadow: 11px 11px 5px 0px rgba(255,241,241,0.27);
    -moz-box-shadow: 11px 11px 5px 0px rgba(255,241,241,0.27);
}

.Copy_Icon
{
    z-index: 2;
    position: absolute;
    margin-left: 15.5vmin;
    cursor: pointer;
    width: 4vmin;
    height: 4vmin;
}
/* End of random code container section */

.center-Form-Container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.Login_Form_Container
{   
    border-radius: 10px;
    margin-top: 14vh;
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: 10rem;
    justify-items: center;
    align-items: center;
    width: 67vmin;
    height: calc(25vmax + 6rem * 2);
    background: linear-gradient(20deg, rgba(120, 89, 100, 1.0), rgba(19,90,141,1));
}

/* Input name section */
div.Input-Name
{
    display: grid;
    gap: 1vh;
    justify-content: start;
    align-content: start;
    grid-template-rows: auto auto;
    margin-top: 39vh;
}

.Input-Name > label
{
    color: azure;
    font-size: 1.6vw;
}

input.Input_Type_Name
{   
    /* width: calc(20vw - 2rem);    */
    width: 17vmax;   
    height: 4vh;
    border: none;
    border-radius: 5px;
}

input.Input_Type_Name:focus
{
    outline: none;
}
/* End of input name section */

/* Input age section */
div.Input-Age
{
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto;
    justify-content: start;
    align-content: start;
    transform: translate(0,5vh);
}

.Input-Age > label
{
    color: azure;
    font-size: 1.6vw;
}

input.Input_Type_Age
{   
    width: calc(20vw - 2rem);   
    height: 4vh;
    border: none;
    border-radius: 5px;
}

input.Input_Type_Age:focus 
{
    outline: none;
}
/* End of input age section */

/* Select gender section */
div.Input-Gender
{
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto;
    justify-content: start;
    align-content: start;
    transform: translate(0,8vh);
}

.Input-Gender > label
{
    color: azure;
    font-size: 1.6vw;
}

select.Select_Type_Gender
{
    width: calc(16vw - 2rem);   
    height: 4vh;
    border: none;
    border-radius: 5px;
}

select.Select_Type_Gender:focus
{
    outline: none;
}
/* End of input gender section */

/* Input email section */
div.Input-Email
{
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto;
    justify-content: start;
    align-content: start;
    transform: translate(0,10vh);
}

.Input-Email > label
{
    color: azure;
    font-size: 1.6vw;
}

input.Input_Type_Email
{
    width: calc(20vw - 2rem);   
    height: 4vh;
    border: none;
    border-radius: 5px;
}

input.Input_Type_Email:focus
{
    outline: none;
}
/* End of Input email section */

/* Select user level section */
div.Input-Level
{
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto;
    justify-content: start;
    align-content: start;
    transform: translate(0,12vh);
}

.Input-Level > label
{
    color: azure;
    font-size: 1.6vw;
}

select.Select_Level_Type
{
    width: calc(16vw - 2rem);   
    height: 4vh;
    border: none;
    border-radius: 5px;
}

select.Select_Level_Type:focus
{
    outline: none;
}
/* End of Select user level section */

/* Input random code */
div.Input-Code 
{
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto;
    justify-content: start;
    align-content: start;
    transform: translate(0,15vh);
}

.Input_Random_Code 
{
    width: calc(16vw - 2rem);   
    height: 4vh;
    border: none;
    border-radius: 5px;
}

/* Login button section */
.Login_Button
{
    display: inline-block;
    transform: translate(0,15vh);
    width: calc(10vw - 2rem);   
    height: 4vh;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.3vw;
}
/* End of  Login button section*/

/* Media query sction  min width and min hight*/
@media screen and (width < 795px) and (height < 900px)
{
    body
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgba(191, 191, 191, .8);
    }

    /* Random code container section */
    .Random-Code-Container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        /* transform: translate(0,7vh); */
    }
    .Random-Code
    {   
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background: linear-gradient(20deg, rgba(120, 89, 100, 1.0), rgba(19,90,141,1));
        z-index: 2;
        color: white;
        width: 20vmax; 
        height: 10vh;
        position: absolute;
        box-shadow: 11px 11px 5px 0px rgba(255,241,241,0.27);
        -webkit-box-shadow: 11px 11px 5px 0px rgba(255,241,241,0.27);
        -moz-box-shadow: 11px 11px 5px 0px rgba(255,241,241,0.27);
    }
    /* End of random code container section */
    .center-Form-Container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .Login_Form_Container
    {   
        border-radius: 10px;
        margin-top: 15vmax;
        box-sizing: border-box;
        display: grid;
        grid-auto-rows: 10rem;
        align-items: center;
        justify-items: center;
        width: 40vmax;
        height: 71vmax;
        background: linear-gradient(20deg, rgba(120, 89, 100, 1.0), rgba(19,90,121,1),rgba(120, 89, 100, 1.0));
    }

    /* Input name section */
    div.Input-Name
    {
        display: grid;
        /* gap: .8rem; */
        gap: 1vmin;
        justify-content: start;
        align-content: start;
        grid-template-rows: auto auto;
        transform: translate(10%,-3vh);
    }
    .Input-Name > label
    {
        color: azure;
        font-size: 3vmax;
    }

    input.Input_Type_Name
    {   
        display: block;
        width: 29vmax;
        height: 4vh;
        border: none;
        border-radius: 5px;
        /* transform: translate(0,-3vh); */
        /* padding-left: 10rem; */
    }
    /* End of input name section */

    /* Input age section */
    div.Input-Age
    {
        display: grid;
        /* gap: 1rem; */
        gap: 1vmin;
        grid-template-rows: auto auto;
        justify-content: start;
        align-content: start;
        transform: translate(10%,1vh);
    }

    .Input-Age > label
    {
        color: azure;
        font-size: 3vmax;
    }

    input.Input_Type_Age
    {   
        /* width: 40vw; */
        width: 29vmax;
        height: 4vh;
        border: none;
        border-radius: 5px;
    }
    /* End of input age section */

    /* Select gender section */
    div.Input-Gender
    {   
        display: grid;
        /* gap: .8rem; */
        gap: 1vmin;
        justify-content: start;
        align-content: start;
        grid-template-rows: auto auto;
        transform: translate(10%,4vh);
    }

    .Input-Gender > label
    {
        color: azure;
        font-size: 3vmax;
    }

    select.Select_Type_Gender
    {
        /* width: 20vw; */
        width: 29vmax;
        height: 4vh;
        border: none;
        border-radius: 5px;
    }
    /* Select age section */

    /* Input email section */
    div.Input-Email
    {
        display: grid;
        /* gap: 1rem; */
        gap: 1vmin;
        grid-template-rows: auto auto;
        justify-content: start;
        align-content: start;
        transform: translate(10%,7vh);
    }  

    .Input-Email > label
    {
        color: azure;
        font-size: 3vmax;
    }

    input.Input_Type_Email
    {
        /* width: 40vw; */
        width: 29vmax;
        height: 4vh;
        border: none;
        border-radius: 5px;
    }
    /* End of Input email section */ 
    div.Input-Level
    {
        display: grid;
        /* gap: .8rem; */
        gap: 1vmin;
        justify-content: start;
        align-content: start;
        grid-template-rows: auto auto;
        transform: translate(10%,8vh);
    }

    .Input-Level > label
    {
        color: azure;
        font-size: 3vmax;
    }

    select.Select_Level_Type
    {
        width: 29vmax;
        height: 4vh;
        border: none;
        border-radius: 5px;
    }
    /* Select user level section */

    /* Input random code */
    div.Input-Code 
    {
        display: grid;
        gap: 1vmin;
        justify-content: start;
        align-content: start;
        grid-template-rows: auto auto;
        transform: translate(10%,10vh);
    }

    .Input_Random_Code 
    {
        width: 29vmax;
        height: 4vh;
        border: none;
        border-radius: 5px;
    }

    /* Login button section */
    .Login_Button
    {
        display: inline-block;
        transform: translate(10%,12vh);
        width: 20vw;
        height: 4vh;
        border: none;
        border-radius: 5px;
        color: black;
        font-size: 2vmax;
    }
}
/* End of  Login button section*/